<div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2 class="underline white-text text-shadow no-margin">WEEK 1</h2>
        <h3 class="white-text text-shadow no-margin">WINNER: Mickela Pitter</h3>
        <h2 class="underline white-text text-shadow no-margin">WEEK 2</h2>
        <h3 class="white-text text-shadow no-margin">WINNER: Lincoln Williams</h3>
        <h2 class="underline white-text text-shadow no-margin">WEEK 3</h2>
        <h3 class="white-text text-shadow no-margin">WINNER: Casey Farley</h3>
        <h2 class="underline white-text text-shadow no-margin">WEEK 4</h2>
        <h3 class="white-text text-shadow no-margin">WINNER: Shelby Sherman</h3>
        <h2 class="underline white-text text-shadow no-margin">WEEK 5</h2>
        <h3 class="white-text text-shadow no-margin">WINNER: Ashley Long </h3>
        <h2 class="underline white-text text-shadow no-margin">WEEK 6</h2>
        <h3 class="white-text text-shadow no-margin">WINNER: Taylor Henderson</h3>
        <h2 class="underline white-text text-shadow no-margin">WEEK 7</h2>
        <h3 class="white-text text-shadow no-margin">WINNER: Catherine Cheng</h3>
        <h2 class="underline white-text text-shadow no-margin">WEEK 8</h2>
        <h3 class="white-text text-shadow no-margin">WINNER: Cyan Petry</h3>
      </div>
    </div>
</div>
