<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title><%= current_page.data.title || "Welcome to the #FearlessSummer Olympics"%></title>
<meta name="description" content="Enter the #FearlessSummer sweepstakes to win a pair of tickets to a Vans Warped Tour date near you!" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Welcome to the #FearlessSummer Olympics">
<meta itemprop="description" content="Enter the #FearlessSummer sweepstakes to win a pair of tickets to a Vans Warped Tour date near you!">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/fearlesswarped2016/shareimage.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@fearlessrecords">
<meta name="twitter:title" content="Welcome to the #FearlessSummer Olympics">
<meta name="twitter:description" content="Enter the #FearlessSummer sweepstakes to win a pair of tickets to a Vans Warped Tour date near you!">
<meta name="twitter:creator" content="@fearlessrecords">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/fearlesswarped2016/shareimage.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Welcome to the #FearlessSummer Olympics"/>
<meta property="og:type" content="article" />
<meta property="og:url" content="http://fearlesssummer.com" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/fearlesswarped2016/shareimage.jpg" />
<meta property="og:description" content="Enter the #FearlessSummer sweepstakes to win a pair of tickets to a Vans Warped Tour date near you!" />
<meta property="og:site_name" content="Welcome to the #FearlessSummer Olympics"/>

