<div id="jarrodmodal" class="modal">
  <div class="modal-content">
    <div class="video-container">
      <iframe class="jarrodVideo" width="854" height="480" src="https://www.youtube.com/embed/EhVCeqWD3h8?enablejsapi=1&rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
